:root {
  --font-family: Heebo, sans-serif;
  --primary-main: #ffc400;
  --primary-contrastText: #fff;
  --text-secondary: #afc2cb;
  --common-black: #000;
  --common-white: #fff;
  --navBarHeight: max(5vh, 100px);
}

html,
body {
  height: 100%;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--font-family);
}

.container {
  display: flex;
  justify-content: center;
  padding-top: var(--navBarHeight);
  height: 100%;
}

.app {
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
  padding: 30px;
  background-color: var(--common-white);
  border-radius: 35px;
  box-shadow: 0 0 2rem var(--common-black);
  width: 75%;
  height: 70%;
  min-height: 340px;
}

.title {
  text-align: center;
  margin-top: 0px;
}

.description {
  margin-bottom: 20px;
}

.ticker-form {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding-bottom: 10px;
  border-bottom: 3px solid var(--primary-main);
}

.ticker-form div {
  margin: 5px 10px 5px 10px;
}

.ticker-form label {
  display: block;
  font-size: smaller;
}

.ticker-form select {
  padding: 6.5px;
  margin-top: 5px;
  border-radius: 10px;
  width: 250px;
}

.ticker-form .go-button {
  align-self: end;
}

.go-button button {
  height: 33px;
  width: 50px;
  font-weight: bold;
  color: var(--common-white);
  background-color: var(--primary-main);
  border: none;
  box-shadow: 0px 0px 3px var(--common-black);
  border-radius: 10px;

  &:hover {
    background-color: var(--text-secondary);
  }
}

.results {
  margin-top: 15px;
  min-height: 150px;
  flex-grow: 1;
  overflow: auto;

  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  list-style-type: none;
}

.results .result {
  width: 200px;
  height: 41px;
  margin: 10px 10px;
  box-shadow: 0 0 4px var(--common-black);
  border-radius: 10px;
  display: flex;
  align-items: center;
}

.result .result-field {
  margin: 0px 8px;
  padding: 5px;
}

.result-field .result-label {
  font-size: 0.7rem;
}
