:root {
  --font-family: Heebo, sans-serif;
  --primary-main: #ffc400;
  --primary-contrastText: #fff;
  --text-secondary: #afc2cb;
  --common-black: #000;
  --common-white: #fff;
}

html,
body {
  height: 100%;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--font-family);
}

.app {
  padding: 50px;
  background-color: var(--common-white);
  border-radius: 35px;
  border: 0.3px solid var(--common-black);
  box-shadow: 0 0 80px var(--common-black);
  width: 67%;
  /* position: absolute;
  top: 50%;
  left: 50%; */
  transform: translate(0%, 50%);
}

.title {
  text-align: center;
  margin-top: 0px;
}

.description {
  font-size: smaller;
  margin-bottom: 20px;
}

.ticker-form {
  /* background-color: aquamarine; */
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding-bottom: 20px;
  border-bottom: 1px solid var(--common-black);
}

.ticker-form div {
  margin: 5px 10px 5px 10px;
}

.ticker-form label {
  display: block;
  font-size: smaller;
}

.ticker-form select {
  padding: 6.5px;
  margin-top: 5px;
  border-radius: 10px;
}

.ticker-form .go-button {
  align-self: end;
}

.go-button button {
  height: 33px;
  width: 50px;
  font-weight: bold;
  color: var(--common-white);
  background-color: var(--primary-main);
  /* border: 1px solid var(--common-black); */
  border: none;
  box-shadow: 0px 0px 3px var(--common-black);
  border-radius: 10px;
}

.results {
  /* background-color: burlywood; */
  margin-top: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style-type: none;
}

.results .result {
  margin: 15px 5px 15px 5px;
  /* border: 1px solid var(--common-black); */
  box-shadow: 0 0 4px var(--common-black);
  border-radius: 10px;
  display: flex;
  align-items: center;
}

.result .result-field {
  margin: 0px 8px 0px 8px;
  padding: 5px;
}

.result-field .result-label {
  font-size: 0.7rem;
}

/* .result-field .result-value {
    text-align: center;
} */
