html,
body {
  height: 100%;
  margin: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#iframeDiv {
  height: 100%;
}
iframe {
  border: none;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0%;
  left: 0%;
}

#app-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.app-background {
  height: 100%;
  background-image: url("https://images.pexels.com/photos/102152/pexels-photo-102152.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  filter: blur(4px);
  -webkit-filter: blur(4px);
}
