:root {
  --app-height-minimum: 800px;
}

html,
body {
  height: 100%;
  margin: 0;
  box-sizing: border-box;
}

#iframeDiv {
  height: 100%;
  min-height: var(--app-height-minimum);
}

iframe {
  border: none;
  height: 100%;
  width: 100%;
}

.app-background {
  height: 100%;
  background-image: url("./compressed.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  filter: blur(4px);
  -webkit-filter: blur(4px);
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  min-height: var(--app-height-minimum);
  z-index: -1;
}
